@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.callout {
    background: rgba(0,0,0, 0.8);
    background-image: url("../images/landing.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding:  0;
    text-align: center;
    font-family: "Goldman", sans-serif;
}

.super {
    font-size: 60px;
}

.callout h1 {
    color: #fafafa;
    margin-bottom: 50px;
}

.btn {
    border: 5px solid purple;
    border-radius: 30px;
    color: #fafafa;
    background-color: transparent;
    transition-duration: 0.4s;
    padding: 10px 20px 10px 20px;
}

.btn:hover {
    background-color: purple;
    color: #fafafa;
    border-color: #fafafa;
}

footer {
    background-color: #535454;
    color: #fafafa;
    height: 100px;
    margin: 0;
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Goldman", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: purple;
}