@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

/*  ---------------------------------------------------------  Header  */


/*  Logo    */

.logo {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

.logo p {
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 60px;
    font-weight: 600;
}


/*  Navbar   */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding-left: 6vh;
    padding-right: 6vh;
}


/*  Menu Items  */

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    display: block;
    padding-top: 37px;
    width: 100%;
    text-decoration: none;
    color: white;
    height: 80px;
    transition-duration: 0.4s;
}

.menuitem span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    width: 100%;
}

.menuitem span:hover {
    color: purple;
}

.menuitem:hover {
    border-bottom: 2px solid purple;
    border-radius: 70px;
    transition-duration: 0.6s;
}


/* --------------------------- Section */


/*  Card    */

.card {
    width: 25rem;
    border: 3px solid white;
    background-color: #fafafa;
}

.list-group-item {
    background-color: #fafafa;
}

.card-header {
    background-color: rgba(128, 0, 128, 0.589);
}


/*  Callout */

.callout,
.main {
    background: rgba(0, 0, 0, 0.8);
    background-image: url("../images/landing.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    text-align: center;
    font-family: "Goldman", sans-serif;
}

.super {
    font-size: 60px;
}

.callout h1 {
    color: #fafafa;
    margin-bottom: 50px;
}


/*  Description */

.description p,
h3 {
    text-align: center;
}

.description h3 {
    font-family: "Goldman", sans-serif;
}

.description p {
    font-size: 18px;
    font-weight: 500;
}

.row-budget {
    background-color: rgba(128, 0, 128, 0.589);
}


/*  Button  */

.btn {
    border: 5px solid purple;
    border-radius: 30px;
    color: #fafafa;
    background-color: transparent;
    transition-duration: 0.4s;
    padding: 10px 20px 10px 20px;
}

.btn:hover {
    background-color: purple;
    color: #fafafa;
    border-color: #fafafa;
}

.btn-card {
    background-color: black;
}


/*  Footer  */

footer {
    background-color: #535454;
    color: #fafafa;
    height: 100px;
    margin: 0;
    text-align: center;
}


/*  Text adjustments    */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Goldman", sans-serif;
    font-weight: 300;
    color: #fafafa;
}


/*  Footer>> Social links   */

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: purple;
}