@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

/*  ---------------------------------------------------------  Header  */


/*  Logo    */

.logo {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

.logo p {
    font-family: 'Goldman', cursive;
    color: white;
    font-size: 60px;
    font-weight: 600;
}


/*  Navbar   */

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding-left: 6vh;
    padding-right: 6vh;
}


/*  Menu Items  */

.menuitem {
    height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    display: block;
    padding-top: 37px;
    width: 100%;
    text-decoration: none;
    color: white;
    height: 80px;
    transition-duration: 0.4s;
}

.menuitem span {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    transition-duration: 0.4s;
    width: 100%;
}

.menuitem span:hover {
    color: purple;
}

.menuitem:hover {
    border-bottom: 2px solid purple;
    border-radius: 70px;
    transition-duration: 0.6s;
}


/* --------------------------- Section */

.callout,
.main,
.news,
.contact {
    background: rgba(0, 0, 0, 0.8);
    background-image: url("../images/landing.jpg");
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    font-family: "Goldman", sans-serif;
}


/*  Timeline    */

.timeline-row {
    margin-left: 3em;
    margin-right: 3em;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.timeline {
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.514);
    height: 400px;
    border: 2px solid purple;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-date);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Goldman", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline h3,
.timeline-item {
    color: black;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: rgb(97, 1, 97);
}


/*  News    */

.card-news {
    height: 400px;
    background-color: #fafafa;
    border: 2px solid purple;
    text-align: center;
    padding: 0;
    margin: 0;
}

.card-img-news {
    background-size: contain;
    width: 100%;
    height: 50%;
}


/*  Card    */

.card {
    width: 25rem;
    border: 3px solid white;
    background-color: #fafafa;
    text-align: center;
}

.list-group-item {
    background-color: #fafafa;
}

.card-header {
    background-color: rgba(128, 0, 128, 0.589);
}


/*  Callout */

.super {
    font-size: 60px;
}

.callout h1 {
    color: #fafafa;
    margin-bottom: 50px;
}

.callout h1,
.super {
    text-align: center;
}


/*  Description */

.description p,
h3 {
    text-align: center;
}

.description h3 {
    font-family: "Goldman", sans-serif;
}

.description p {
    font-size: 18px;
    font-weight: 500;
}

.row-budget {
    background-color: rgba(128, 0, 128, 0.589);
}


/*  Button  */

.btn {
    border: 5px solid purple;
    border-radius: 30px;
    color: #fafafa;
    background-color: transparent;
    transition-duration: 0.4s;
    padding: 10px 20px 10px 20px;
}

.btn:hover {
    background-color: purple;
    color: #fafafa;
    border-color: #fafafa;
}

.btn-card {
    background-color: black;
}

.callout-btn {
    text-align: center;
}


/*  Footer  */

footer {
    background-color: #535454;
    color: #fafafa;
    height: 100px;
    margin: 0;
    text-align: center;
}


/*  Text adjustments    */

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Goldman", sans-serif;
    font-weight: 300;
    color: #fafafa;
}


/*  Footer>> Social links   */

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: purple;
}